<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="/static/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/assets/libs/css/style.css">
    <link rel="stylesheet" href="/static/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="/static/assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="/static/assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="/static/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/assets/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="/static/assets/vendor/fonts/flag-icon-css/flag-icon.min.css">
    <link rel="stylesheet" href="/static/assets/libs/css/mdb.min.css" >
    <link rel="stylesheet" href="/static/assets/libs/css/animate-3.7.0.css">
    <link rel="stylesheet" href="/static/assets/libs/css/owl-carousel.min.css">
    <link rel="stylesheet" href="/static/assets/libs/css/mdb.min.css">
    <link rel="stylesheet" href="/static/assets/libs/css/all.css">
    <title>Clinic Management | Admin</title>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="http://127.0.0.1:8000/home/"><font class="font-weight-bold" color="black" style="font-family: 'Poor Richard',serif">Clinic Management <i class="fa fa-hospital-alt"></i></font></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                                <input class="form-control" type="text" placeholder="Search..">
                            </div>
                        </li>
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/static/assets/images/admin.jpg" alt="" class="user-avatar-md rounded-circle"><i class="fas fa-arrow-alt-circle-down ml-2" style="color: black"></i></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info danger-color rounded">
                                    <h5 class="mb-1 text-white nav-user-name"><font class="font-weight-bold" color="black">Rashik Rahman</font></h5>
                                    <span class="status"></span><span class="ml-1 mb-2"><i class="font-italic">Admin</i></span>
                                </div>
                                <a type="button" class="dropdown-item btn-rounded btn aqua-gradient mt-2" href="#"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light font-weight-bold">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                <font class="font-weight-bold" color="black">Menu</font>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="http://127.0.0.1:8000/home/"><i class="fa fa-fw fa-user-circle"></i>Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fa fa-fw fa-building"></i>Departments</a>
                                <div id="submenu-2" class="collapse submenu" style="background-color: white">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="http://127.0.0.1:8000/department/">Department List</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-hands-helping"></i>Services</a>
                                <div id="submenu-3" class="collapse submenu" style="background-color: white">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Appointments</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-4" aria-controls="submenu-4"><i class="fas fa-user-plus"></i>Doctors</a>
                                <div id="submenu-4" class="collapse submenu" style="background-color: white">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/templates/pages/form-elements.html">Form Elements</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/templates/pages/form-validation.html">Parsely Validations</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/templates/pages/multiselect.html">Multiselect</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/templates/pages/datepicker.html">Date Picker</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/templates/pages/bootstrap-select.html">Bootstrap Select</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5"><i class="fas fa-user"></i>Patients</a>
                                <div id="submenu-5" class="collapse submenu" style="background-color: white">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/templates/pages/general-table.html">General Tables</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/templates/pages/data-tables.html">Data Tables</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-6"><i class="fas fa-fw fa-file"></i> Prescriptions </a>
                                <div id="submenu-6" class="collapse submenu" style="background-color: white">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/templates/pages/blank-page.html">Blank Page</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/templates/pages/blank-page-header.html">Blank Page Header</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/templates/pages/login.html">Login</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/templates/pages/404-page.html">404 page</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/templates/pages/sign-up.html">Sign up Page</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/templates/pages/forgot-password.html">Forgot Password</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/templates/pages/pricing.html">Pricing Tables</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/templates/pages/timeline.html">Timeline</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/templates/pages/calendar.html">Calendar</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/templates/pages/sortable-nestable-lists.html">Sortable/Nestable List</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/templates/pages/widgets.html">Widgets</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/templates/pages/media-object.html">Media Objects</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/templates/pages/cropper-image.html">Cropper</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/templates/pages/color-picker.html">Color Picker</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-7" aria-controls="submenu-7"><i class="fas fa-fw fa-calendar-times"></i>Appointment</a>
                                <div id="submenu-7" class="collapse submenu" style="background-color: white">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/templates/pages/inbox.html">Inbox</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/templates/pages/email-details.html">Email Detail</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/templates/pages/email-compose.html">Email Compose</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/templates/pages/message-chat.html">Message Chat</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-8" aria-controls="submenu-8"><i class="fas fa-plus"></i>Test</a>
                                <div id="submenu-8" class="collapse submenu" style="background-color: white">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/templates/pages/icon-fontawesome.html">FontAwesome Icons</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/templates/pages/icon-material.html">Material Icons</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/templates/pages/icon-simple-lineicon.html">Simpleline Icon</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/templates/pages/icon-themify.html">Themify Icon</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/templates/pages/icon-flag.html">Flag Icons</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/templates/pages/icon-weather.html">Weather Icon</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-9" aria-controls="submenu-9"><i class="fas fa-money-bill-alt"></i>Finances</a>
                                <div id="submenu-9" class="collapse submenu" style="background-color: white">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/templates/pages/map-google.html">Google Maps</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/templates/pages/map-vector.html">Vector Maps</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Dashboard </h2>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="http://127.0.0.1:8000/home/" class="breadcrumb-link">Dashboard</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Departments</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
            <div class="card container-fluid d-flex">
              <div class="card-body">
                <font class="font-weight-bold" color="black">Welcome To Department Panel</font>
              </div>
            </div>

            <!-- ============================================================== -->

            <section class="contact-section area-padding">
                <!-- Editable table -->
                <div class="container card">
                  <h3 class="card-header text-center font-weight-bold text-uppercase py-4"><font color="black">Departments</font></h3>
                  <div class="card-body">
                    <div id="table" class="table-editable">
                      <span class="table-add float-right mb-3 mr-2"><a href="" class="btn btn-success btn-rounded font-weight-bold" data-toggle="modal" data-target="#orangeModalSubscription"><i class="fas fa-plus"></i> ADD</a>
                      </span>
                      <table class="table table-bordered table-responsive-md table-striped text-center">
                        <thead>
                          <tr>
                            <th class="text-center" style="color: black">#</th>
                            <th class="text-center" style="color: black">Name of Departments</th>
                            <th class="text-center" style="color: black">Department Code</th>
                            <th class="text-center" style="color: black"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="pt-3-half" contenteditable="true" style="color: black">1</td>
                            <td class="pt-3-half" contenteditable="true" style="color: black">Department of Cardiology</td>
                            <td class="pt-3-half" contenteditable="true" style="color: black">DC01</td>
                            <td>
                              <span class="table-remove">
                                <button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button>
                              </span>
                            </td>
                          </tr>
                          <!-- This is our clonable table line -->
                          <tr>
                            <td class="pt-3-half" contenteditable="true" style="color: black">2</td>
                            <td class="pt-3-half" contenteditable="true" style="color: black">Department of Intensive Care</td>
                            <td class="pt-3-half" contenteditable="true" style="color: black">DIC01</td>
                            <td>
                              <span class="table-remove"><button type="button"
                                  class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                            </td>
                          </tr>
                          <!-- This is our clonable table line -->
                          <tr>
                            <td class="pt-3-half" contenteditable="true" style="color: black">3</td>
                            <td class="pt-3-half" contenteditable="true" style="color: black">Department of Neurology</td>
                            <td class="pt-3-half" contenteditable="true" style="color: black">DN01</td>
                            <td>
                              <span class="table-remove"><button type="button"
                                  class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                            </td>
                          </tr>
                          <!-- This is our clonable table line -->
                          <tr class="hide">
                            <td class="pt-3-half" contenteditable="true" style="color: black">4</td>
                            <td class="pt-3-half" contenteditable="true" style="color: black">Department of Oncology</td>
                            <td class="pt-3-half" contenteditable="true" style="color: black">DOC01</td>
                            <td>
                              <span class="table-remove"><button type="button"
                                  class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!-- Editable table -->
                <!-- ============================================================== -->
                <!-- Popup -->
                <!-- ============================================================== -->
              <section class="contact-section area-padding">
                <div class="modal fade mt-lg-5" id="orangeModalSubscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog modal-notify modal-warning" role="document">
                    <!--Content-->
                    <div class="modal-content">
                      <!--Header-->
                      <div class="modal-header text-center bg-info">
                        <h4 class="modal-title white-text w-100 font-weight-bold py-2">Department Name</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                      </div>

                      <!--Body-->
                      <div class="modal-body">
                        <div class="md-form mb-5">
                          <i class="fas fa-hospital prefix grey-text"></i>
                          <input type="text" id="form3" class="form-control validate">
                          <label data-error="wrong" data-success="right" for="form3">Name</label>
                        </div>
                      </div>
                      <!--Footer-->
                      <div class="modal-footer justify-content-center">
                        <a type="button" class="btn btn-outline-success btn-rounded waves-effect">Add <i class="fas fa-plus"></i></a>
                      </div>
                    </div>
                    <!--/.Content-->
                  </div>
                </div>
              </section>
            </section>

            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
           <section class="contact-section area-padding">
             <div class="footer fixed-bottom">
                <div class="container-fluid d-flex justify-content-center">
                    <div class="row">
                        <div class="font-weight-bold text-center">
                             Copyright © 2019 Concept. All rights reserved. Dashboard by <a href="https://www.facebook.com/rizzwan.qadir">Rizwan Qadir <i class="fas fa-user"></i></a>.
                        </div>
                    </div>
                </div>
            </div>
           </section>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="/static/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="/static/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="/static/assets/libs/js/main-js.js"></script>
    <!-- chart chartist js -->
    <script src="/static/assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
    <!-- sparkline js -->
    <script src="/static/assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
    <!-- morris js -->
    <script src="/static/assets/vendor/charts/morris-bundle/raphael.min.js"></script>
    <script src="/static/assets/vendor/charts/morris-bundle/morris.js"></script>
    <!-- chart c3 js -->
    <script src="/static/assets/vendor/charts/c3charts/c3.min.js"></script>
    <script src="/static/assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <script src="/static/assets/vendor/charts/c3charts/C3chartjs.js"></script>
    <script src="/static/assets/libs/js/dashboard-ecommerce.js"></script>
    <script type="text/javascript" src="/static/assets/libs/js/mdb.min.js"></script>
    <script src="/static/assets/libs/js/vendor/wow.min.js"></script>
    <script src="/static/assets/libs/js/vendor/owl-carousel.min.js"></script>
    <script src="/static/assets/libs/js/main.js"></script>
    <script src="/static/assets/libs/js/mdb.min.js"></script>
    <script src="/static/assets/libs/js/popper.min.js"></script>
    <script src="/static/assets/libs/js/all.js"></script>
</body>

</html>